// header{background-color: #e3f2fd;}
// nav{justify-content: space-between;}
// nav ul{list-style: none;}
header {
    max-width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    inset-block-start: 0;
    inset-inline: 0;
    background: var(--header-bg);
    border-block-end: 1px solid var(--header-border-color);
}

header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
}

header ul li a {
    width: 2.3rem;
    height: 2.3rem;
    display: inline-block;
    line-height: 2.1rem;
    font-size: 1rem;
    color: var(--header-prime-color);
    fill: var(--header-prime-color);
    transition: all ease 0.05s;
    position: relative;
    padding: 0;
    border-radius: 50%;
}

header ul li a:hover {
    background-color: rgba(255, 255, 255, 0.094);
}